@use 'sass:math';

@mixin flexconfig(
    $justify-content: false,
    $flex: false,
    $flex-direction: false,
    $align-items: false,
    $flex-wrap: false
) {
    display: flex;
    @if ($justify-content != false) {
        justify-content: $justify-content;
    }
    @if ($flex != false) {
        flex: $flex;
    }
    @if ($flex-direction != false) {
        flex-direction: $flex-direction;
    }
    @if ($align-items != false) {
        align-items: $align-items;
    }
    @if ($flex-wrap != false) {
        flex-wrap: $flex-wrap;
    }
}
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

@function toRem($value) {
    $remValue: math.div($value, 16) + rem;
    // $remValue: ($value / 16) + rem;
    @return $remValue;
}
