@use 'sass:math';

$primary: #0172c0 !default;
$secondary: #00ab86 !default;
$secondary-light: #11d1a7;
$panel-color: #042550;
$primary-light: #e9f8ff;
$primary-dkr: #4084dc;
$panel-icon: #4a5566;
$clr-element: #cacacb;
$clr-element-outline: #7a7a7a;
$content-bg: #f8f9fa;
$txt-color: #3b4759;
$style-border: #e4e4e4;
$canvas-primary: #3b57e6;
$icons-color: #4a5566;
$grey-color-c8: #c8c8c8;
$badge-color: #c1ece3;
$status-completed: #0172c0;
$status-inProgress: #f2994a;
$status-notStarted: #00ab86;

// Alert
$alert-height: 52px;
$alert-success: #d4edda;
$alert-danger: #f8d7da;
$alert-info: #d1ecf1;
$alert-warning: #fff3cd;
$element-ouline: #828282;
// width

$style-manager-width: 350px;

// Font

$font-regular: 'OpenSans', 'Helvetica', 'Arial', sans-serif !important;
$font-bold: 'OpenSansBold', 'Helvetica', 'Arial', sans-serif !important;
$font-semi-bold: 'OpenSansSemiBold', 'Helvetica', 'Arial', sans-serif !important;
$font-light: 'OpenSansLight', 'Helvetica', 'Arial', sans-serif !important;
$font-italic: 'OpenSansItalic', 'Helvetica', 'Arial', sans-serif !important;

// Color system

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
    (
        '100': $gray-100,
        '200': $gray-200,
        '300': $gray-300,
        '400': $gray-400,
        '500': $gray-500,
        '600': $gray-600,
        '700': $gray-700,
        '800': $gray-800,
        '900': $gray-900,
    ),
    $grays
);

// Borders
$border-radius-circle: 50%;

// Header
$header-height: 74px;
$header-logo-height: 30px;
