.wf-primary-color {
    color: #0172c0 !important;
}
.wf-primary-bgcolor {
    background-color: #0172c0 !important;
}
.wf-secondary-bgcolor {
    background-color: #00b48d !important;
}
.workflow-footer-bg {
    background-color: #606060 !important;
}
.color-white {
    color: #ffffff !important;
}
